{% extends "base.html.twig"  %}
{% block content %}
    <h1>Add new User</h1>

    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    <input type="submit" name="save" value="save">
    {{ form_end(userForm) }}
{% endblock %}