{% extends "base.html.twig" %}
{% block content %}
    <!-- Basic Card Example -->
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"> {{ user.fname }}  {{ user.lname }}</h6>
                </div>
                <div class="card-body">
                    {{ user|dump }}

                    The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
                </div>
            </div>
        </div>
    </div>


{% endblock %}